Blur/Blur/schemas/namespace1/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://www.ibm.com/ia/xmlns/default/Blur-BOM/model" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:m="http://www.ibm.com/ia/xmlns/default/Blur-BOM/model"
 xmlns:m1="http://www.ibm.com/geolib/st" xmlns:m2="http://www.ibm.com/geolib/geom">
    <import namespace="http://www.ibm.com/geolib/st" schemaLocation="file:/Users/dselman/dev/eclipse_draco/CIS-runtime-target-platform/schema/geolibst.xsd"/>
    <import namespace="http://www.ibm.com/geolib/geom" schemaLocation="file:/Users/dselman/dev/eclipse_draco/CIS-runtime-target-platform/schema/geometry.xsd"/>

    <element name="Alert" type="m:Alert"/>
    <complexType name="Alert">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="Alert"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="building"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="hours24" type="double">
            </element>
            <element name="message" type="string">
            </element>
            <element name="minues30" type="double">
            </element>
            <element name="organization" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organization"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="person" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="persons"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="rule" type="string">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="BuildingInitialization" type="m:BuildingInitialization"/>
    <complexType name="BuildingInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="BuildingInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="building"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="location" type="m2:Point">
            </element>
            <element name="organization" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organizations"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="owner" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="owner"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="type" type="m:BuildingType">
            </element>
            <element name="usageType" type="m:BuildingUsageType">
            </element>
        </sequence>
    </complexType>
    <element name="BuildingType" type="m:BuildingType"/>
    <simpleType name="BuildingType">
        <restriction base="string">
            <enumeration value="APPARTMENT"/>
            <enumeration value="WAREHOUSE"/>
            <enumeration value="COMMERCIAL"/>
        </restriction>
    </simpleType>

    <element name="BuildingUpdate" type="m:BuildingUpdate"/>
    <complexType name="BuildingUpdate">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="BuildingUpdate"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="building"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="location" type="m2:Point">
            </element>
            <element name="organization" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organizations"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="owner" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="owner"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="type" type="m:BuildingType">
            </element>
            <element name="usageType" type="m:BuildingUsageType">
            </element>
        </sequence>
    </complexType>
    <element name="BuildingUsageType" type="m:BuildingUsageType"/>
    <simpleType name="BuildingUsageType">
        <restriction base="string">
            <enumeration value="BANK_BRANCH"/>
            <enumeration value="FURNITURE_STORE"/>
            <enumeration value="LIVING"/>
        </restriction>
    </simpleType>

    <element name="CellularCallReport" type="m:CellularCallReport"/>
    <complexType name="CellularCallReport">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="CellularCallReport"/>
            </appinfo>
        </annotation>
        <complexContent>
        <extension base="m:LocationBasedEvent">
        <sequence>
            <element name="callee" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="callee"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="caller" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="caller"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
        </extension>
        </complexContent>
    </complexType>

    <element name="CellularReport" type="m:CellularReport"/>
    <complexType name="CellularReport">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="CellularReport"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="building"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="CriminalCellularCallReport" type="m:CriminalCellularCallReport"/>
    <complexType name="CriminalCellularCallReport">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="CriminalCellularCallReport"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="cellularCallReport" type="m:CellularCallReport">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="CriminalPersonDetected" type="m:CriminalPersonDetected"/>
    <complexType name="CriminalPersonDetected">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="CriminalPersonDetected"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="CriminalPersonInitialization" type="m:CriminalPersonInitialization"/>
    <complexType name="CriminalPersonInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="CriminalPersonInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="criminalPerson" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="criminalPerson"/>
                        <businessType type="blur.model.CriminalPerson"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="location" type="m2:Point">
            </element>
            <element name="name" type="string">
            </element>
            <element name="profession" type="string">
            </element>
            <element name="role" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="role"/>
                        <businessType type="blur.model.OrganizationalRole"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="state" type="m:PersonState">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="CriminalsNearSuspiciousVehicle" type="m:CriminalsNearSuspiciousVehicle"/>
    <complexType name="CriminalsNearSuspiciousVehicle">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="CriminalsNearSuspiciousVehicle"/>
            </appinfo>
        </annotation>
        <complexContent>
        <extension base="m:LocationBasedEvent">
        <sequence>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
        </extension>
        </complexContent>
    </complexType>

    <element name="HotBuildingDetected" type="m:HotBuildingDetected"/>
    <complexType name="HotBuildingDetected">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="HotBuildingDetected"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="building"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="HotBuildingInitialization" type="m:HotBuildingInitialization"/>
    <complexType name="HotBuildingInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="HotBuildingInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="hotBuilding" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="hotBuilding"/>
                        <businessType type="blur.model.HotBuilding"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="location" type="m2:Point">
            </element>
            <element name="organization" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organizations"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="owner" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="owner"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="type" type="m:BuildingType">
            </element>
            <element name="usageType" type="m:BuildingUsageType">
            </element>
        </sequence>
    </complexType>

    <element name="LocationBasedEvent" type="m:LocationBasedEvent"/>
    <complexType name="LocationBasedEvent">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="LocationBasedEvent"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="buildings"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="eventLocation" type="m2:Point">
            </element>
            <element name="person" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="persons"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="ManagersNearSuspiciousVehicle" type="m:ManagersNearSuspiciousVehicle"/>
    <complexType name="ManagersNearSuspiciousVehicle">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="ManagersNearSuspiciousVehicle"/>
            </appinfo>
        </annotation>
        <complexContent>
        <extension base="m:LocationBasedEvent">
        <sequence>
            <element name="range" type="m2:Polygon">
            </element>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
        </extension>
        </complexContent>
    </complexType>

    <element name="OrganizationInitialization" type="m:OrganizationInitialization"/>
    <complexType name="OrganizationInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="OrganizationInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="organization" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organization"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="type" type="m:OrganizationType">
            </element>
        </sequence>
    </complexType>

    <element name="OrganizationRoleInitialization" type="m:OrganizationRoleInitialization"/>
    <complexType name="OrganizationRoleInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="OrganizationRoleInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="manager" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="manager"/>
                        <businessType type="blur.model.OrganizationalRole"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="name" type="string">
            </element>
            <element name="organization" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organization"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="organizationalRole" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organizationalRole"/>
                        <businessType type="blur.model.OrganizationalRole"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="type" type="m:OrganizationRoleType">
            </element>
        </sequence>
    </complexType>
    <element name="OrganizationRoleType" type="m:OrganizationRoleType"/>
    <simpleType name="OrganizationRoleType">
        <restriction base="string">
            <enumeration value="MANAGER"/>
            <enumeration value="EMPLOYEE"/>
        </restriction>
    </simpleType>
    <element name="OrganizationType" type="m:OrganizationType"/>
    <simpleType name="OrganizationType">
        <restriction base="string">
            <enumeration value="CRIMINAL"/>
            <enumeration value="COMMERCIAL"/>
        </restriction>
    </simpleType>

    <element name="PersonInitialization" type="m:PersonInitialization"/>
    <complexType name="PersonInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="PersonInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="location" type="m2:Point">
            </element>
            <element name="name" type="string">
            </element>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="profession" type="string">
            </element>
            <element name="role" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="role"/>
                        <businessType type="blur.model.OrganizationalRole"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="state" type="m:PersonState">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="PersonState" type="m:PersonState"/>
    <simpleType name="PersonState">
        <restriction base="string">
            <enumeration value="ACTIVE"/>
            <enumeration value="INACTIVE"/>
        </restriction>
    </simpleType>

    <element name="PersonUpdate" type="m:PersonUpdate"/>
    <complexType name="PersonUpdate">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="PersonUpdate"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="location" type="m2:Point">
            </element>
            <element name="name" type="string">
            </element>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="profession" type="string">
            </element>
            <element name="role" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="role"/>
                        <businessType type="blur.model.OrganizationalRole"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="state" type="m:PersonState">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="PotentialBankCrimeReport" type="m:PotentialBankCrimeReport"/>
    <complexType name="PotentialBankCrimeReport">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="PotentialBankCrimeReport"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="building" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="building"/>
                        <businessType type="blur.model.Building"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="callee" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="callee"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="caller" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="caller"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="person" type="string" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="persons"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="radiusInMeters" type="double">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="SuspiciousVehicleDetected" type="m:SuspiciousVehicleDetected"/>
    <complexType name="SuspiciousVehicleDetected">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="SuspiciousVehicleDetected"/>
            </appinfo>
        </annotation>
        <complexContent>
        <extension base="m:LocationBasedEvent">
        <sequence>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
        </extension>
        </complexContent>
    </complexType>

    <element name="TrafficCameraReport" type="m:TrafficCameraReport"/>
    <complexType name="TrafficCameraReport">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="TrafficCameraReport"/>
            </appinfo>
        </annotation>
        <complexContent>
        <extension base="m:LocationBasedEvent">
        <sequence>
            <element name="cameraId" type="string">
            </element>
            <element name="cameraLocation" type="m2:Point">
            </element>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
        </extension>
        </complexContent>
    </complexType>

    <element name="UpdateRoleEvent" type="m:UpdateRoleEvent"/>
    <complexType name="UpdateRoleEvent">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="UpdateRoleEvent"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="organization" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organization"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="organizationalRole" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organizationalRole"/>
                        <businessType type="blur.model.OrganizationalRole"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="person" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="person"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="rule" type="string">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="VehicleCreated" type="m:VehicleCreated"/>
    <complexType name="VehicleCreated">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="VehicleCreated"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VehicleDetails">
        <sequence>
            <element name="maker" type="string">
            </element>
            <element name="maximumSpeed" type="double">
            </element>
            <element name="model" type="string">
            </element>
            <element name="type" type="m:VehicleType">
            </element>
            <element name="year" type="string">
            </element>
        </sequence>
    </complexType>

    <element name="VehicleInitialization" type="m:VehicleInitialization"/>
    <complexType name="VehicleInitialization">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="VehicleInitialization"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="details" type="m:VehicleDetails">
            </element>
            <element name="lastSeen" type="dateTime">
            </element>
            <element name="location" type="m2:Point">
            </element>
            <element name="organization" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="organization"/>
                        <businessType type="blur.model.Organization"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="owner" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="owner"/>
                        <businessType type="blur.model.Person"/>
                    </appinfo>
                </annotation>
            </element>
            <element name="status" type="m:VehicleStatus">
            </element>
            <element name="suspicious" type="boolean">
            </element>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="VehicleStatus" type="m:VehicleStatus"/>
    <simpleType name="VehicleStatus">
        <restriction base="string">
            <enumeration value="INACTIVE"/>
            <enumeration value="ACTIVE"/>
        </restriction>
    </simpleType>
    <element name="VehicleType" type="m:VehicleType"/>
    <simpleType name="VehicleType">
        <restriction base="string">
            <enumeration value="MOTORCYCLE"/>
            <enumeration value="JEEP"/>
            <enumeration value="TRUCK"/>
        </restriction>
    </simpleType>

    <element name="VehicleUpdated" type="m:VehicleUpdated"/>
    <complexType name="VehicleUpdated">
        <annotation>
            <appinfo source="http://www.ibm.com/ia/Annotation">
                <event elementName="VehicleUpdated"/>
            </appinfo>
        </annotation>
        <sequence>
            <element name="timestamp" type="dateTime">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <timestamp/>
                    </appinfo>
                </annotation>
            </element>
            <element name="vehicle" type="string">
                <annotation>
                    <appinfo source="http://www.ibm.com/ia/Annotation">
                        <businessName name="vehicle"/>
                        <businessType type="blur.model.Vehicle"/>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

</schema>
